.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 35%;
  left: 46%;
  background-color: transparent;
  opacity: 0;
  animation: slidein 1s ease 1s backwards;
  transition: visibility 0s, opacity 0.5s linear;
}

@keyframes slidein {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading-wrapper .upper-loader {
  background-color: #9356DC;
  width: 100px;
  height: 8px;
  margin: .2em;
  border-radius: 15px;
  transform: translateX(-30px);
  animation: slideinTop 1.5s ease-in-out 0s 2 normal none;
}

@keyframes slideinTop {
  0% {
    transform: translateY(-30px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateX(30px);
  }

  75% {
    transform: translateX(50px);
  }

  100% {
    transform: translateY(70px) rotate(180deg);
  }
}

.loading-wrapper .center-left-loader {
  background-color: #FF79DA;
  width: 50px;
  height: 8px;
  border-radius: 15px;
  transform: translateX(13px);
  animation: slideinCenterLeft 1s linear 0s 2 normal none;
}

@keyframes slideinCenterLeft {
  0% {
    transform: translateX(13px);
  }

  50% {
    transform: translateX(-13px);
  }

  75% {
    transform: translateX(13px);
  }

  100% {
    transform: translateX(0px) rotate(360deg);
  }
}

.loading-wrapper .center-right-loader {
  background-color: #99E2D0;
  width: 50px;
  height: 8px;
  margin: .2em;
  border-radius: 15px;
  transform: translateX(-13px);
  animation: slideinCenterRight 1s linear 0s 2 normal none;
}

@keyframes slideinCenterRight {
  0% {
    transform: translateX(-13px);
  }

  50% {
    transform: translateX(13px);
  }

  75% {
    transform: translateX(-13px);
  }

  100% {
    transform: translateX(0px) rotate(-360deg);
  }
}

.loading-wrapper .bottom-loader {
  background-color: #9356DC;
  width: 100px;
  height: 8px;
  margin: .2em;
  border-radius: 15px;
  transform: translateX(30px);
  animation: slideinbottom 1.5s ease-in-out 0s 2 normal none;
}

@keyframes slideinbottom {
  0% {
    transform: translateY(30px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateX(-30px);
  }

  75% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateY(-70px) rotate(-180deg);
  }
}

@media only screen and (max-width: 375px) {
  .loading-wrapper {
    top: 45%;
    left: 40%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.48);
}

header .logo-container .logo-img {
  margin: 1.2em 1.2em .7em 1.2em;
}

header .current-location {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e8e8e8;
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
}

header .current-location i {
  color: #575757;
  margin: .75em;
  margin-right: .25em;
}

header .current-location .location-name {
  color: #575757;
  font-weight: bold;
  margin: .75em;
}

header .blurb-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
}

header .blurb-header h1 {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
  margin: 1em 1em .5em 1em;
}

header .blurb-header p {
  color: #4b4b4b;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin: 0 .2em 1.25em .2em;
}

header .blurb-header a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background: #ff79da;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 30px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 3em;
  transition-duration: 200ms;
}

header .blurb-header a:hover {
  transform: translateY(-1px);
  box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.5);
}

header .blurb-header a span {
  font-weight: 500;
  color: whitesmoke;
  margin: 1em 1.2em;
}

header .logo-container {
  width: 100%;
  background-color: white;
  z-index: 3;
}

header .logo-container .center-logo {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 .5em;
  width: 340px;
}

header .logo-container .center-logo span {
  display: inline-flex;
}

header .logo-container .center-logo span .back-btn {
  color: black;
  padding: 5px;
}

header .restaurant-header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 250px;
}

header .restaurant-header-container img {
  display: flex;
  justify-content: center;
  align-items: center;

  object-fit: cover;
  width: 100%;
  height: 120%;
  z-index: 1;
}

.functionality {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em .5em;
}

.functionality .functionality-header {
  width: 300px;
  margin: .6em;
}

.functionality .user-steps .user-step {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  margin: .5em;
  border-radius: 15px;
  background-color: #f2f2f2;
  box-shadow: 3px 7px 11px 3px rgba(0, 0, 0, 0.15);
  transition-delay: 150ms;
}

.functionality .user-steps .user-step:hover {
  box-shadow: 3px 7px 11px 3px rgba(147, 86, 220, 0.2);
}

.functionality .user-steps .user-step .step-number {
  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
  font-weight: 400;
  background-color: #9356DC;
  width: 20px;
  height: auto;
  border-radius: 20px;
  transform: translateX(-8px);
}

.functionality .user-steps .step-information {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  margin: 1em .2em;
}

.functionality .user-steps .step-information .step-icon {
  color: #575757;
}

.functionality .user-steps .step-information .step-icon .fa-store {
  color: #9356DC;
}

.functionality .user-steps .step-information .step-explanation {
  font-weight: bold;
  margin: 0 1em;
}

@media only screen and (max-width: 375px) {
  .functionality .functionality-header {
    width: 250px;
  }

  .functionality .user-steps {
    width: 250px;
    margin: .2em 0;
  }

  .functionality .user-steps .user-step {
    width: 240px;
  }

  .functionality .user-steps .step-information {
    width: 210px;
  }

  .functionality .user-steps .step-information .step-explanation {
    margin: 0 .5em;
  }
}

main .restaurant-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
  margin: 2em 0em 0em 0em;
  padding-bottom: 1.5em;
}

main .restaurant-container .restaurant-header {
  width: 340px;
  margin: 1.2em .75em .5em .75em;
}

main .restaurant-container a {
  text-decoration: none;
}

main .restaurant-container .restaurant-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 340px;
  background-color: white;
  border-radius: 15px;
  margin: .75em;
  box-shadow: 0px 7px 11px 3px rgba(0, 0, 0, 0.15);
  transition-duration: 200ms;
}

main .restaurant-container .restaurant-card:hover {
  box-shadow: 0px 7px 11px 3px rgba(0, 0, 0, 0.2);
}

main .restaurant-container .restaurant-card .restaurant-img {
  height: 245px;
}

main .restaurant-container .restaurant-card .restaurant-img img {
  object-fit: cover;
  width: 100%;
  height: 95%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

main .restaurant-container .restaurant-card .restaurant-img .tags {
  display: flex;
  justify-content: center;
  width: 80px;
  background-color: #99FF99;
  border-radius: 2px;
  transform: translate(250px, -225px);
}

main .restaurant-container .restaurant-card .restaurant-img .tags span {
  font-weight: 500;
  color: #004c00;
  padding: .2em;
}

main .restaurant-container .restaurant-card .details-container {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: space-between;
  width: 340px;
}

main .restaurant-container .restaurant-card .details-container .restaurant-details {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: .75em;
  margin-bottom: 1em;
}

main .restaurant-container .restaurant-card .details-container .user-favourites {
  padding-right: 2em;
}

main .restaurant-container .restaurant-card .details-container .user-favourites span {
  text-decoration: none;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition-duration: 400ms;
}

main .restaurant-container .restaurant-card .details-container .user-favourites span:hover {
  padding: .1em;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: transparent;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 375px) {
  main .restaurant-container .restaurant-header {
    width: 240px;
    margin: 1.2em .75em .5em .75em;
  }

  main .restaurant-container .restaurant-card {
    height: 200px;
    width: 240px;
  }

  main .restaurant-container .restaurant-card .restaurant-img {
    height: 145px;
  }

  main .restaurant-container .restaurant-card .restaurant-img .tags {
    transform: translate(150px, -125px);
  }

  main .restaurant-container .restaurant-card .details-container {
    width: 240px;
  }
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #e8e8e8;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 1;
}

.menu-container .header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 345px;
  justify-content: space-between;
  margin: 1.5em 1.5em 0 1.5em;
}

.menu-container .header-container .restaurant-title {
  font-family: 'shrikhand', 'sans-serif';
}

.menu-container .header-container .user-favourites a {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding: 1em;
  transition-duration: 400ms;
}

.menu-container .header-container .user-favourites a:hover {
  margin: .1em;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: transparent;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container .meal-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: 345px;
  margin: .5em 0;
  margin-top: 2em;
}

.menu-container .meal-type h2 {
  font-size: 1em;
  font-weight: 300;
}

.menu-container .meal-type .underline {
  width: 3em;
  border-bottom: 3px solid #99E2D0;
}

.menu-container .item-select {
  color: black;
  text-decoration: none;
}

.menu-container .meal-container {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: space-between;
  background-color: white;
  margin: .5em 0;
  width: 345px;
  height: 60px;
  border-radius: 15px;
  box-shadow: 0px 7px 11px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  animation: fadein 1000ms linear 0s 1 normal none;
}

@keyframes fadein {
  from {
    transform: translateY(3px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.menu-container .meal-container .meal {
  display: inline-block;
  width: 100%;
  align-items: flex-start;
  margin-left: .3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-container .meal-container .meal h3 {
  font-size: 1.1em;
  padding: .1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-container .meal-container .meal p {
  font-size: .90em;
  padding: .1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-container .meal-container .price {
  display: flex;
  margin-right: 1em;
  font-weight: 500;
  color: #2b2b2b;
}

.menu-container .meal-container .hidden-check {
  display: none;
  visibility: hidden;
  transform: translateX(5px);
}

.menu-container .meal-container:hover>.hidden-check {
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: visible;
  background-color: #99E2D0;
  width: 20%;
  height: 60px;
  margin: 0;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

.menu-container .meal-container:hover>.hidden-check span {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #99E2D0;
  font-weight: bold;
  animation: rotate-center 0.3s linear both;
}

@keyframes rotate-center {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.menu-container .checkout-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background: #ff79da;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 30px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 3em;
  transition-duration: 200ms;
  width: 210px;
  margin-top: 1.5em;
}

.menu-container .checkout-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0px 3px 20px 1px rgba(0, 0, 0, 0.5);
}

.menu-container .checkout-btn span {
  font-weight: 500;
  color: whitesmoke;
  margin: 1em 1.2em;
}

@media only screen and (max-width: 375px) {
  .menu-container .header-container {
    width: 275px;
    margin: 1em 1em 0 1em;
  }

  .menu-container .meal-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    width: 275px;
    margin: .5em 0;
    margin-top: 1em;
  }

  .menu-container .meal-type h2 {
    font-size: 1em;
  }

  .menu-container .meal-container {
    width: 275px;
    margin: .35em 0;
  }

  .menu-container .meal-container .meal {
    display: inline-block;
    width: 100%;
    align-items: flex-start;
    margin-left: .3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-container .meal-container .meal h3 {
    font-size: .9em;
    padding: .1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-container .meal-container .meal p {
    font-size: .7em;
    padding: .1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-container .checkout-btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: #ff79da;
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
    border-radius: 30px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 3em;
    transition-duration: 200ms;
    width: 210px;
    margin: .5em;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: #0a0a0a;
}

footer .nav-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5em;
  width: 340px;
}

footer .nav-footer img {
  height: 22px;
  margin-bottom: .75em;
  transform: translateX(5px);
}

footer .nav-footer ul {
  list-style-type: none;
}

footer .nav-footer ul li {
  margin: .5em;
}

footer .nav-footer ul li span {
  margin-right: .5em;
}

footer .nav-footer ul li .nav-links {
  text-decoration: none;
  color: whitesmoke;
}

footer .nav-footer ul li:hover {
  font-weight: 500;
}

body {
  font-family: 'Roboto', sans-serif;
}