body {
    font-family: 'Raleway', sans-serif;
    margin: 0 0
}

nav,
header {
    margin: 1em;
}

.nav-container {
    height: auto;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}


.nav-container>ul {
    display: flex;
    align-items: center;
}

.nav-container>ul>li {
    text-align: center;
    justify-content: space-between;
    margin: 5px auto;
}

.subscribe-button {
    text-decoration: none;
    text-align: center;
    color: #0065fc;
    font-weight: bold;
    margin: 10px auto;
}

a.nav-links {
    text-decoration: none;
    font-weight: 500;
    padding: 0 2em;
    color: black;
    transition: color 250ms;
}

.nav-links:hover {
    font-weight: 600;
    padding-top: 2.34em;
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

/*header*/
.header-container {
    display: flex;
    margin-top: 2em;
}

.intro {
    margin-bottom: 1.5em;
}

.intro>h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .25em;
}

.intro>h2 {
    font-weight: 500;
    font-size: .8em;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 310px;
}

.location-icon {
    background-color: #f2f2f2;
    position: relative;
    height: 34px;
    width: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.location-icon>span {
    display: flex;
    justify-content: center;
    transform: translateY(.7em);
}

input[type=search] {
    color: black;
    padding: .6em;
    border: 1px solid #f2f2f2;
    width: 170px;
}

.search-button {
    text-decoration: none;
    background-color: #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-button span {
    display: flex;
    font-weight: 500;
    padding: .54em;
    color: #f2f2f2;
}



.search-filters {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    margin: 1em 0em;
}

.filter-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 1em;
}


.filter-button {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: 1.5px solid rgb(214, 213, 213);
    border-radius: 20px;
    margin: .5em .5em;
    padding-left: 2.5em;
}

.filter-content {
    display: flex;
    align-items: center;
    padding: .25em;

}

.filter-icon {
    position: absolute;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    transform: translateX(-3em);
}

.filter-icon>span {
    display: flex;
    justify-content: center;
    transform: translateY(.7em);
    color: #0065fc;
}

.filter>span {
    display: flex;
    font-size: 1em;
    padding: .4em .6em;
    background-color: white;
    transform: translateX(-5px);
}

.infos {
    display: flex;
    width: 100%;
    margin: .5em 0em;
}

.infos>p {
    font-size: 1em;
    font-weight: 400;
    margin-top: .4em;
    margin-left: 2.5em;
    display: flex;
    justify-content: flex-end;
}

.circle-border-info {
    position: absolute;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

.circle-border-info>span {
    display: flex;
    align-items: flex-start;
    justify-content: center
}

.fa-info {
    margin: .32em;
    color: #0065fc;
}



section {
    display: inline-flex;
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 1em;
    margin-left: 0;
}

aside {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 25%;
    margin: 1em;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-right: 0;

}

.search-location-container,
.trending-header-container {
    margin: 1px;
}

.trending-product-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.location-header>h2,
.trending-product-header>h2,
.search-result-activities>h2 {
    margin: 1.5rem;
    font-size: 1.5em;
    font-weight: bold;
}

.product-search-cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.clickable-search-card {
    text-decoration: none;
}

.search-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 230px;
    width: 320px;
    background-color: white;
    border-radius: 20px;
    margin: 1.2em;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

.search-img-container {
    display: flex;
    margin: 1%;
    width: 98%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.search-img-container>img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.search-img-content {
    display: flex;
    justify-self: baseline;
}

.search-content {
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: .2em;
}

.search-content>h3 {
    font-weight: bold;
    margin: .3em;
}

.search-content>p {
    margin: .1em;
}

.search-content>p>span {
    font-weight: bold;
}

.search-content>span {
    color: #0065fc;
    margin-left: .3em;
}

.search-content>span>i:nth-child(5) {
    margin-top: .4em;
    color: #DEEBFF;
}

.more-results>h4 {
    margin: 2em 1.5em;
    font-size: 1em;
    font-weight: bold;
}

.trending-product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.clickable-trending-card {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 1.2em;
    padding: 0;
    width: 90%;
    height: 160px;
    border-radius: 15px;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

#trending-cards {
    display: flex;
}

.img-container {
    display: flex;
    align-items: flex-start;
    margin: .2em;
    width: 30%;
}

.trending-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.trending-content {
    color: black;
    margin-left: .5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.trending-content>h3,
.trending-content>P>span {
    color: black;
    font-weight: bold;
    margin-bottom: .5em;
}

.trending-content>span {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #0065fc;
    margin-top: 1.5em;
}

article {
    margin: 1em 0em;
    width: 100%;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
}


.activity-container {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}


.activity-container a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.activity-card-lg-sm {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

.activity-card-lg-sm .img-container {
    display: flex;
    width: 100%;
    margin: 0;
}

.activity-card-lg-sm .img-container img {
    object-fit: cover;
    height: auto;
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.activity-title {
    display: flex;
    margin: 1em;
    color: black;
    font-weight: bold;
}

.small-card-container {
    display: flex;
    height: 350px;
}

.activity-card-sm {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    margin: 1.5em;
    border-radius: 15px;
    box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
}

.activity-card-sm .img-container {
    display: flex;
    width: 100%;
    margin: 0;
}

.activity-card-sm .img-container img {
    object-fit: cover;
    height: auto;
    width: 100%;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

footer {
    background-color: #f2f2f2;
    width: 100%;
    position: absolute;
    height: auto;
}

.footer-container {
    display: flex;
    margin-top: 1.5em;
    margin-left: 2em;
    margin-right: 25%;
    margin-bottom: 1.5em;
    justify-content: space-between;
}

.col-1,
.col-2,
.col-3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.col-1>h4,
.col-2>h4,
.col-3>h4 {
    color: black;
    font-weight: bold;
    margin: 1em 1em 1em 0;
}

.col-1>ul>li>a,
.col-2>ul>li>a,
.col-3>ul>li>a {
    font-weight: 300;
    text-decoration: none;
    color: black;
    transition: 200ms;
}

.col-1>ul>li,
.col-2>ul>li,
.col-3>ul>li {
    margin-top: .75em;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .search-card {

        height: 230px;
        width: 270px;

    }
}

@media screen and (min-width: 1024px) and (max-width:1200px) {
    section {

        width: 95%;
        background-color: #f2f2f2;
        border-radius: 15px;
        margin: 1em;

    }

    aside {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 95%;
        margin: 1em;
        background-color: #f2f2f2;
        border-radius: 15px;
        margin-right: 0;

    }

    .search-card {

        height: 230px;
        width: 240px;
        margin: .5em;
    }

    .trending-product-header {
        justify-content: flex-start;
        align-items: center;
    }

    .trending-product-container {

        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .clickable-trending-card {
        height: 150px;
        width: 300px;
    }

    .activity-card-lg-sm {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 150px;
        margin: 1.5em;
        border-radius: 15px;
        box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
    }

    .activity-container {
        justify-content: space-around;
    }

    .sm-card-container {
        display: flex;
        width: 70%;
    }

    .activity-card-lg-sm .img-container img {
        object-fit: cover;
        height: auto;
        width: 100%;
        height: 100px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

}

@media screen and (min-width: 768px) and (max-width:1023px) {
    section {
        display: inline-flex;
        width: 95%;
        background-color: #f2f2f2;
        border-radius: 15px;
        float: right;
    }

    aside {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 95%;
        background-color: #f2f2f2;
        border-radius: 15px;
        float: left;
    }

    .trending-product-container {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .clickable-trending-card {
        width: 300px;
    }

    .search-filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .activity-card-lg-sm {
        display: flex;
        flex-direction: column;
        width: 240px;
        height: 150px;
        margin: 1.5em;
        border-radius: 15px;
        box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
    }

    .activity-card-lg-sm .img-container img {
        object-fit: cover;
        height: auto;
        width: 100%;
        height: 100px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .activity-container {
        justify-content: space-around;
    }

    .sm-card-container {
        display: flex;
        align-items: space-evenly;
        width: 70%;
    }
}

@media screen and (max-width:767px) {

    .nav-container {}

    .nav-container>ul>li {
        flex-direction: row-reverse;
        align-self: center;
    }


    .filter-button {
        margin: .3em;
    }

    .infos {
        margin: 0;
    }

    section {
        display: inline-flex;
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 15px;
        float: right;
        position: relative;
        margin: 0;
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 90%;
        background-color: transparent;
        border-radius: 15px;
        float: left;
    }

    .trending-product-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-card {
        height: 230px;
        width: 230px;
        margin: .5em;
    }

    .clickable-trending-card {
        height: 110px;
        width: 320px;
        margin: 1em;
    }

    .trending-product-container {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .search-filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .activity-card-lg-sm {
        display: flex;
        flex-direction: column;
        width: 240px;
        height: 150px;
        margin: .5em;
        border-radius: 15px;
        box-shadow: 0px 6px 11px 1px rgba(0, 0, 0, 0.42);
    }

    .activity-card-lg-sm .img-container img {
        object-fit: cover;
        height: auto;
        width: 100%;
        height: 100px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .footer-container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav-container {
        flex-wrap: wrap;
    }

    .nav-container>ul {
        flex-wrap: wrap;
    }

    .subscribe-button {
        align-self: flex-start;
        justify-self: self-start;
    }
}