@import './variables';
@import './functions';

header {
    @include flexCenter(column);
    width: 100%;

    .logo-container {
        @include flexCenter(none);
        box-shadow: 0px 6px 7px -3px rgba(0, 0, 0, 0.48);

        .logo-img {
            margin: 1.2em 1.2em .7em 1.2em;
        }
    }

    .current-location {
        @include flexCenter(none);
        background-color: #e8e8e8;
        box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.25) inset;
        width: 100%;

        i {
            color: rgb(87, 87, 87);
            margin: .75em;
            margin-right: .25em;
        }

        .location-name {
            color: rgb(87, 87, 87);
            font-weight: bold;
            margin: .75em;
        }
    }

    .blurb-header {
        @include flexCenter(column);
        background-color: #f2f2f2;
        width: 100%;

        h1 {
            font-size: 1.7em;
            font-weight: 900;
            text-align: center;
            margin: 1em 1em .5em 1em;
        }

        p {
            color: #4b4b4b;
            font-size: 1.2em;
            font-weight: 300;
            text-align: center;
            margin: 0 .2em 1.25em .2em;
        }

        a {
            @include primaryBtn;

            &:hover {
                @include primaryBtnHover;
            }

            span {
                @include primaryBtnFont
            }
        }
    }
}