@import './variables';
@import './functions';

.menu-container {
    @include flexCenter(column);
    position: relative;
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    padding-bottom: 1em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 1;

    .header-container {
        @include flexCenter(none);
        width: 345px;
        justify-content: space-between;
        margin: 1.5em 1.5em 0 1.5em;

        .restaurant-title {
            font-family: 'shrikhand', 'sans-serif';
        }

        .user-favourites {
            a {
                text-decoration: none;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
                padding: 1em;
                transition-duration: 400ms;

                &:hover {
                    margin: .1em;
                    -webkit-text-stroke-width: .1px;
                    -webkit-text-stroke-color: transparent;
                    background: linear-gradient(to bottom, $primary-color 0%, $secondary-color 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .meal-type {
        @include flexCenter(column);
        align-items: flex-start;
        width: 345px;
        margin: .5em 0;
        margin-top: 2em;

        h2 {
            font-size: 1em;
            font-weight: 300;
        }

        .underline {
            width: 3em;
            border-bottom: 3px solid $tertiary-color;
        }
    }

    .item-select {
        color: black;
        text-decoration: none;

    }

    .meal-container {
        @include flexCenter(none);
        justify-content: space-between;
        background-color: white;
        margin: .5em 0;
        width: 345px;
        height: 60px;
        border-radius: 15px;
        box-shadow: 0px 7px 11px 3px rgba(0, 0, 0, 0.15);
        position: relative;
        animation: fadein 1000ms linear 0s 1 normal none;

        @keyframes fadein {
            from {
                transform: translateY(3px);
                opacity: 0;
            }

            to {
                transform: translateY(0px);
                opacity: 1;
            }
        }


        .meal {
            display: inline-block;
            width: 100%;
            align-items: flex-start;
            margin-left: .3em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            h3 {
                font-size: 1.1em;
                padding: .1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                font-size: .90em;
                padding: .1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .price {
            display: flex;
            margin-right: 1em;
            font-weight: 500;
            color: #2b2b2b;
        }

        .hidden-check {
            display: none;
            visibility: hidden;
            transform: translateX(5px);
        }

        &:hover>.hidden-check {
            @include flexCenter(none);
            visibility: visible;
            background-color: $tertiary-color;
            width: 20%;
            height: 60px;
            margin: 0;
            border-bottom-right-radius: 13px;
            border-top-right-radius: 13px;

            span {
                @include flexCenter(none);
                background-color: white;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                color: $tertiary-color;
                font-weight: bold;
                animation: rotate-center 0.3s linear both;

                @keyframes rotate-center {
                    from {
                        transform: rotate(0);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    .checkout-btn {
        @include primaryBtn;
        width: 210px;
        margin-top: 1.5em;

        &:hover {
            @include primaryBtnHover
        }

        span {
            @include primaryBtnFont
        }
    }

    @include phone {

        .header-container {
            width: 275px;
            margin: 1em 1em 0 1em;
        }

        .meal-type {
            @include flexCenter(column);
            align-items: flex-start;
            width: 275px;
            margin: .5em 0;
            margin-top: 1em;

            h2 {
                font-size: 1em;
            }
        }

        .meal-container {
            width: 275px;
            margin: .35em 0;

            .meal {
                display: inline-block;
                width: 100%;
                align-items: flex-start;
                margin-left: .3em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                h3 {
                    font-size: .9em;
                    padding: .1em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    font-size: .7em;
                    padding: .1em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .checkout-btn {
            @include primaryBtn;
            width: 210px;
            margin: .5em;
        }
    }
}