@import './variables';
@import './functions';


.functionality {
    @include flexCenter(column);
    margin: 2em .5em;

    .functionality-header {
        width: 300px;
        margin: .6em;
    }

    .user-steps {

        .user-step {
            @include flexCenter(none);
            width: 280px;
            margin: .5em;
            border-radius: 15px;
            background-color: #f2f2f2;
            box-shadow: 3px 7px 11px 3px rgba(0, 0, 0, 0.15);
            transition-delay: 150ms;

            &:hover {
                box-shadow: 3px 7px 11px 3px rgba(147, 86, 220, 0.2);
            }

            .step-number {
                @include flexCenter(none);
                color: whitesmoke;
                font-weight: 400;
                background-color: $primary-color;
                width: 20px;
                height: auto;
                border-radius: 20px;
                transform: translateX(-8px)
            }
        }

        .step-information {
            @include flexCenter(none);
            width: 250px;
            margin: 1em .2em;

            .step-icon {
                color: rgb(87, 87, 87);

                .fa-store {
                    color: $primary-color;
                }
            }

            .step-explanation {
                font-weight: bold;
                margin: 0 1em;
            }
        }
    }

    @include phone {
        .functionality-header {
            width: 250px;
        }

        .user-steps {
            width: 250px;
            margin: .2em 0;

            .user-step {
                width: 240px;
            }

            .step-information {
                width: 210px;

                .step-explanation {
                    margin: 0 .5em;
                }
            }
        }
    }
}