@import './loading-screen';
@import './resets';
@import './header';
@import './pages-header';
@import './section';
@import './main';
@import './pages-main';
@import './footer';


body {
    font-family: 'Roboto', sans-serif;
}